<html>
  <style>
    body{ 
      font-size: 12pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome to Work search process sharing platform!!!</h1>
  <h2>From here you can find differnet companies, click them and find more information!</h1>
---------------------------------------------------------------------- 
    {% for n in d %}
    <div><p><a href="{{url_for('company', company_id = n)}}"> {{d[n]}}</a></p></div>
    {% endfor %}
----------------------------------------------------------------------
<p><a href="{{url_for('login')}}"> Log in</a></p>

<p><a href="{{url_for('register')}}"> Register here</a></p>

<p><a href="{{url_for('profile')}}"> My profile</a></p>

</body>

</html>