<!doctype html>
<html>
    <body>
        <style>
            body{ 
            font-size: 12pt;
            font-family: arial;
            }
        </style>
        {% if message %}
        <p style=font-size:20px>{{message}}</p>
        {% endif %}
        {% if name %}
        <h3>Hello {{ name }}!</h1>
        {% endif %}
        {% if email %}
        <h3>Your account email: {{ email }}</h1>
        {% endif %}
        
        <ul>
            <li><a href='/follower'>Follower</a> </li>
            <li><a href='/following'>Following</a> </li>
            <li><a href='/Posts'>Posts</a> </li>
            <li><a href='/Comments'>Comments</a> </li>
            <li><a href='/logout'>Logout</a></li>
            <li><a href='/index'>Home Page</a></li>
        </ul>
    </body>
</html>