<!doctype html>

<html>
    <style>
        body{ 
        font-size: 12pt;
        font-family: arial;
        }
    </style>

    <head>
        <title>Create an account!</title>
    </head>

    <!-- {%if not supress%}
    <h1> Email already in use! Use another one or <a href="/login">login</a></h1>
    {% endif %} -->
        <body>
            <div class="title">
                <h1>Enter your information below</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('register')}}">
                    <label for="email">Email:</label>
                    <input type="string" name="email" /><br />
                    <label for="name">Name:</label>
                    <input type="text" name="name" /><br />
                    <label for="password">Password:</label>
                    <input type="password" name="password" /><br />
                    <input type="submit" />
                </form>
            </div>
            <h3>Already have an account yet?</h3>
            <p><a href="{{url_for('login')}}"> Login here</a></p>
            <p><a href="{{url_for('index')}}">Home_page</a></p>
        </body>
    


</html>