<!doctype html>
<html>
    <body>
        <style>
            body{ 
            font-size: 12pt;
            font-family: arial;
            }
        </style>

        <h1>{{name}}'s Post:</h1>
        {% for m in t %}
        <h2>{{m}}</h2>
        <div>
            {% for n in data %}
            <div><li>{{n[1]}}: {{n[0]}}</li></div>
            {% endfor %}
          </div>

          <h3>Comments:
          </h3>
          <div>
            {% for t in c %}
            <div><li>{{t}}</li></div>
            {% endfor %}
          </div>
          {% endfor %}
    </body>
</html>