<!doctype html>
<html>
    <body>
        <style>
            body{ 
            font-size: 12pt;
            font-family: arial;
            }
        </style>

        <h1>Hello {{ Name }}!</h1>

        Email: {{ Email }}

        <ul>
            <li><a href='/Follower'>Follower</a> </li>
            <li><a href='/Following'>Following</a> </li>
            <li><a href='/Posts'>Posts</a> </li>
            <li><a href='/Comments'>Comments</a> </li>
            <li><a href='/logout'>Logout</a></li>
            <li><a href='/'>Home Page</a></li>
        </ul>
    </body>
</html>